#form_container{
  text-align: center;
  h5{
    padding-top: 5px;
  }
}

#registerForm, #modelReview{
  padding-top: 50px;
  text-align: center;

  .btn{
    margin-top: 30px;
    width: 125px;
  }
  .cancel{
    margin-right: 10%;
    background-color: red;
  }
  .next{
    background-color: green;
  }

  .btn:hover{
    color: white;
  }
}

#registerForm{

  label{
    padding-right: 15px;
  }

  input{
    width: 40%;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    @include small{
      width: 100%;
    }
    @include medium{
      width: 100%;
    }
    @include large{
      width: 100%;
    }
  }

  input:focus, input.focus{
    border-bottom: solid 2px #969696;
  }

  select{
    height: 30px;
    width: 40%;
    margin: 10px;
  }

  .red-text{
    color: red;
  }


}

#modelReview{
  #field_list{
    padding: 15px 0px;
  }
}
