body{
  padding-top: 80px;
}

.react-parallax{
  height: 800px;
}

.parallax_body{
  padding: 25px 25px;
  margin-top: 15%;
  background-color: white;
  opacity: .8;
}

.section_footer, .section_text{
  padding-top: 25px;
}

.section_footer{
  padding-bottom: 25px;
}

.btn-default{
  background-image: none;
  text-shadow: none;
  border: transparent;
  background-color: #444444;
  color: #ffffff;
  box-shadow: 1px 5px 10px rgba(0,0,0,0.4);
}
.btn-default:hover{
  background-color: #ffdf3b;
  color: #444444;
  box-shadow: none;
}

#parallax_img{
  width: 100vw;
}

#category{
  margin-top: 50px;
}

#link_container{
  overflow: hidden;
}

#category_links{
  overflow: hidden;
  cursor: pointer;
  transition-duration: 2s;
  padding-left: 0px;
  padding-right: 0px;
}

#category_links:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#category_img{
  width: 100%;
  height: auto;
}
