
#index-top{
  text-align: center;
  padding-bottom: 50px;
}

#seminars{
  cursor: pointer;
  padding-bottom: 50px;
}

#seminar_title, #seminar_description{
  padding-bottom: 15px;
}

#seminar_title{
  font-weight: bold;
}

#seminar_img, #seminar_url{
  transition-duration: 2s;
}

.row:hover #seminar_img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.row:hover #seminar_url{
  transform: none;
  color: #ffdf3b;
}

#img_container{
  overflow: hidden;
}

#seminar_img{
  width: 100%;
  height: auto;
}
