@import '../variables';

#navbar{

  .navbar{
    background-color: $g_black_grey_color;
    background-image: none;
    a {
      margin: 5px 5px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
    }
  }

  .navbar-nav{
    .active{
      a{
        background-image: none;
        background-color: $g_yellow;
        color: $g_black_grey_color;
      }
    }
    a{
      transition: 2s;
      text-shadow: none;
    }
    a:hover{
      color: $g_yellow;
    }
  }

  .navbar-brand{
    @include small{
      width: 75%;
      padding: 15px 3px;
    }
    @include medium{
      padding: 15px 3px;
    }
  }

  .navbar-toggle{
    @include medium{
      margin-top: 10px;
    };
    @include large{
      margin-top: 10px;
    };
  }

  navbar-toggle:hover{
    background-color: $g_white;
  }

  .icon-bar{
    background-color: $g_yellow;
  }

}
