#navbar{

  .navbar{
    background-color: #444444;
    background-image: none;
    a {
      margin: 5px 5px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
    }
  }

  .navbar-nav{
    .active{
      a{
        background-image: none;
        background-color: #ffdf3b;
        color: #444444;
      }
    }
    a{
      transition: 2s;
      text-shadow: none;
    }
    a:hover{
      color: #ffdf3b;
    }
  }

}
