.parallax .react-parallax {
  height: 300px; }

.parallax #parallax_body {
  padding: 25px 25px;
  background-color: rgba(255, 255, 255, 0.6); }

.parallax .section_footer, .parallax .section_text {
  padding-top: 25px; }

.parallax .section_footer {
  padding-bottom: 25px; }

.parallax #parallax_img {
  width: auto; }

#category {
  margin-top: 50px; }
  #category #link_container {
    overflow: hidden; }
  #category #category_links {
    overflow: hidden;
    cursor: pointer;
    transition-duration: 2s;
    padding-left: 0px;
    padding-right: 0px; }
  #category #category_links:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  #category #category_img {
    width: 100%;
    height: auto; }

#index-top {
  text-align: center;
  padding-bottom: 50px; }

#seminars-list #seminars {
  cursor: pointer;
  padding-bottom: 50px; }

#seminars-list #seminar_title {
  padding-top: 10%;
  padding-bottom: 5%;
  font-weight: bold; }

#seminars-list #seminar_description {
  padding-bottom: 5%; }

#seminars-list #seminar_img {
  width: 100%;
  height: auto; }

#seminars-list #img_container {
  overflow: hidden; }

#seminars-list #seminar_img, #seminars-list #seminar_url {
  transition-duration: 2s; }

#seminars-list .row:hover #seminar_img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

#seminars-list .row:hover #seminar_url {
  transform: none;
  color: #ffdf3b; }

#seminar_container {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%; }
  @media only screen and (min-width: 320px) and (max-width: 374px) {
    #seminar_container {
      padding: 0 5%; } }
  @media only screen and (min-width: 375px) and (max-width: 413px) {
    #seminar_container {
      padding: 0 5%; } }
  @media only screen and (min-width: 414px) and (max-width: 767px) {
    #seminar_container {
      padding: 0 5%; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #seminar_container {
      padding: 0 10%; } }
  @media only screen and (min-width: 1024px) and (max-width: 1366px) {
    #seminar_container {
      padding: 0 10%; } }
  #seminar_container #seminarComponent_img {
    width: 100%;
    height: auto; }
  #seminar_container #seminar_container_title {
    font-weight: bold; }
  #seminar_container #seminar_container_description {
    padding-top: 15px;
    padding-bottom: 15px; }
  #seminar_container #seminar_container_benefits {
    padding: 0 10%;
    padding-bottom: 50px;
    background-color: #fafafa; }
    #seminar_container #seminar_container_benefits #register {
      padding-top: 20px; }
      #seminar_container #seminar_container_benefits #register a {
        background-color: #85bb65; }
  #seminar_container #seminar_container_fee {
    padding-bottom: 15px; }
  #seminar_container #span_container, #seminar_container #seminar_container_fee {
    padding-top: 30px; }
  #seminar_container #span_title {
    font-weight: bold;
    font-size: 1.5em; }

#navbar .navbar {
  background-color: #444444;
  background-image: none;
  border-color: transparent;
  box-shadow: 0px 1px 22px 2px rgba(0, 0, 0, 0.4); }
  #navbar .navbar a {
    margin: 5px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px; }

#navbar .navbar-nav .active a {
  background-image: none;
  background-color: #ffdf3b;
  color: #444444; }

#navbar .navbar-nav a {
  transition: 2s;
  text-shadow: none; }

#navbar .navbar-nav a:hover {
  color: #ffdf3b; }

@media only screen and (min-width: 320px) and (max-width: 374px) {
  #navbar .navbar-brand {
    width: 75%;
    padding: 15px 3px; } }

@media only screen and (min-width: 375px) and (max-width: 413px) {
  #navbar .navbar-brand {
    padding: 15px 3px; } }

@media only screen and (min-width: 375px) and (max-width: 413px) {
  #navbar .navbar-toggle {
    margin-top: 10px; } }

@media only screen and (min-width: 414px) and (max-width: 767px) {
  #navbar .navbar-toggle {
    margin-top: 10px; } }

#navbar navbar-toggle:hover {
  background-color: #ffffff; }

#navbar .icon-bar {
  background-color: #ffdf3b; }

.btn, .btn.active {
  transition-duration: 2s;
  background-image: none;
  text-shadow: none;
  border: transparent;
  background-color: #444444;
  color: #ffffff;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4); }

.btn:hover, .btn.active:hover {
  background-color: #ffdf3b;
  color: #444444;
  box-shadow: none; }

#faq {
  padding: 0 15%; }
  @media only screen and (min-width: 320px) and (max-width: 374px) {
    #faq {
      padding: 0 5%; } }
  @media only screen and (min-width: 375px) and (max-width: 413px) {
    #faq {
      padding: 0 5%; } }
  @media only screen and (min-width: 414px) and (max-width: 767px) {
    #faq {
      padding: 0 5%; } }
  #faq h2 {
    text-align: center;
    padding-bottom: 25px; }
  #faq .panel {
    cursor: pointer; }

#contact #google #google_map {
  width: 100%;
  height: 450px;
  border: none; }

#contact #contact_us .row {
  padding-left: 10%;
  padding-bottom: 10px; }

#contact #contact_us img {
  width: 25px;
  height: auto;
  padding-right: 5px; }

#register h2 {
  text-align: center; }

#registerForm {
  padding-top: 50px;
  text-align: center; }
  #registerForm label {
    padding-right: 15px; }
  #registerForm input {
    width: 25%;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s; }
  #registerForm input:focus, #registerForm input.focus {
    border-bottom: solid 2px #969696; }
  #registerForm select {
    height: 30px;
    width: 25%;
    margin: 10px; }
  #registerForm .red-text {
    color: red; }
  #registerForm .btn {
    margin-top: 30px; }

#h_line {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 30%;
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-bottom-color: #ffdf3b; }

body {
  padding-top: 80px; }

a {
  text-decoration: none;
  transition: 2s;
  color: #444444; }

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #ffdf3b; }
