@import 'landing/landing';
@import 'seminars/seminar';
@import 'header/navbar';
@import 'footer/footer';
@import 'common/button';

#h_line{
  padding-top: 25px;
  padding-bottom: 25px;
  width: 30%;
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-bottom-color:#ffdf3b;
}

body{
  padding-top: 80px;
}
