@import 'variables';

@import 'landing/landing';
@import 'seminars/seminars';
@import 'seminars/seminarComponent';
@import 'header/navbar';
@import 'footer/footer';
@import 'common/button';
@import 'faq/faq';
@import 'contact/contact';
@import 'register/register';


#h_line{
  padding-top: 25px;
  padding-bottom: 25px;
  width: 30%;
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-bottom-color: $g_yellow;
}

body{
  padding-top: 80px;
}

a{
  text-decoration: none;
  transition: 2s;
  color: $g_black_grey_color;
}

a:hover{
  text-decoration: none;
  cursor: pointer;
  color: $g_yellow;
}
