#contact{
  #google{
    #google_map{
      width: 100%;
      height: 450px;
      border: none;
    }
  }
  #contact_us{
    .row{
      padding-left: 10%;
      padding-bottom: 10px;
    }
    img{
      width: 25px;
      height: auto;
      padding-right: 5px;
    }
  }
}
